body {
    background-image: url(../images/discord-background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#discord {
    background-color: rgb(80, 80, 80);
    border-style: ridge;
    border-color: white;
    border-radius: 15%;
    width: 90%;
    height: 125%;
}

.discord-nadpis {
    color: aqua;
    font-size: 35px;
}

.discord-text {
    color: white;
    font-size: 21px;
}

#discord-oznameni {
    background-color: rgb(68, 68, 68);
    border-style: ridge;
    border-color: rgb(194, 194, 194);
    border-radius: 15%;
    width: 30%;
    height: 25%;
    float: left;
    margin-left: 12%;
}

.discord-oznameni-nadpis {
    color: aqua;
    font-size: 23px;
}

.discord-oznameni-datum {
    color: aqua;
    font-size: 20px;
}

.discord-oznameni-text {
    color: white;
    font-size: 18px;
}

#discord-co-u-nas-najdes {
    background-color: rgb(68, 68, 68);
    border-style: ridge;
    border-color: rgb(194, 194, 194);
    border-radius: 15%;
    width: 30%;
    height: 40%;
    float: right;
    margin-right: 12%;
}

.discord-co-u-nas-najdes-nadpis {
    color: aqua;
    font-size: 23px;
}

.discord-co-u-nas-najdes-text {
    color: white;
    font-size: 17px;
}