#index {
  border-radius: 15px;
  background-color: white;
  position: relative;
  padding: 100px;
  height: 600px;
  width: 60%;
}

.index-logo {
  padding: 8px 30px;
  height: 55px;
  width: 55px;
  transition-duration: 0.5s;
}

.index-logo:hover {
  height: 60px;
  width: 60px;
}

.index-book {
  margin-right: 150px;
  float: right;
  height: 200px;
  width: 200px;
}

.index-pen {
  margin-left: 150px;
  float: left;
  height: 170px;
  width: 170px;
}