#body {
    background-image: url(../images/zagheroez.gif);
    height: 400px;
    background-size: 100% 100%;
}

#mlbgfcountdown {
    margin-top: 75px;
}

#htext {
    text-align: center;
}

.htext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}

#mlbcountdown {
    float: left;
    margin-left: 375px;
    text-align: center;
    margin-top: 40px;
}

#gfcountdown {
    float: right;
    margin-right: 375px;
    text-align: center;
    margin-top: 40px;
}

#htextmlbgfcountdown {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    width: 350px;
    height: 50px;
    background-color: white;
    border-style: solid;
}

#htextmlbgfcountdown2 {
    margin-top: 10px;
}

#countdown {
    width: 350px;
    height: 110px;
    background-color: white;
    border-style: solid;
    text-align: left;
}

#infocountdown {
    margin-top: 10px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#htextcountdown {
    font-size: 20px;
    font-weight: bold;
}

#htextcountdown2 {
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
}

#countdown2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mlbcountdown2 {
    background-color: red;
    height: 45px;
}

#gfcountdown2 {
    background-color: rgb(0, 255, 0);
    height: 45px;
}

#mlb {
    margin-left: 15px;
    position: relative;
    top: 7px;
}

#gf {
    margin-left: 15px;
    position: relative;
    top: 7px;
}