body {
    margin: 0px;
    padding: 0px;
}

#uvod {
    width: 100%;
    height: 80%;
    background-image: url("../images/uvod.jpg");
    background-size: 100% 100%;
}

#oddelenie {
    width: 100%;
    height: 1%;
    background-color: black;
}

#polnohospodarska-technika {
    width: 100%;
    height: 50%;
    background-image: url("../images/harvest.jpg");
    background-size: 100% 100%;
}

#info {
    width: 100%;
    height: 30%;
    background-image: url("../images/info.jpg");
    background-size: 100% 100%;
}

button {
    padding: 15px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: white;
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
    margin: 10% 36%;
}

button:hover {
    background-color: rgb(240, 240, 240);
    transition-duration: 0.3s;
}

#fotky {
    background-color: rgb(220, 220, 220);
}

.image {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    width: 25%;
    height: 30%;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(150, 150, 150);
}