body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url(../images/background.jpg);
  margin: 0px;
  padding: 0px;
}

#header {
  background-color: white;
  height: 75px;
  position: relative;
  top: 0px;
}
	
#footer {
  background-image: url(../images/header-footer.png);
  height: 75px;
  margin-bottom: 0px;
  position: relative;
  bottom: 0px;
}

.nadpis {
  color: rgb(255, 85, 85);
  font-size: 30px;
}

.nadpis2 {
  color: rgb(255, 115, 115);
  font-size: 25px;
  position: relative;
  top: 5px;
}

.logo {
  padding: 8px 30px;
  height: 55px;
  width: 55px;
  transition-duration: 0.5s;
}

.logo:hover {
  height: 60px;
  width: 60px;
}

.scroll-header {
  background-image: url(../images/header-footer.png);
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom-style: ridge;
  border-color: gray;
}

.footer {
  font-size: 23px;
  color: white;
  position: relative;
  top: 10px;
}

.button {
  color: white;
  padding: 10px 8px;
  margin-right: 20px;
  margin-top: 13px;
  float: right;
  cursor: pointer;
  transition-duration: 0.6s;
  font-size: 23px;
}

.button:hover {
  color: rgb(0, 205, 255);
  position: relative;
}