header {
    background-color: white;
    height: 60px;
    width: 100%;
}

#header {
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
}

body {
    background-color: rgba(223, 223, 223, 0.788);
    margin: 0;
    top: 0;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 350px;
    background-color: white;
    height: 45px;
    font-weight: bold;
}

#footer {
    text-align: center;
    font-size: 20px;
    top: 11px;
    position: relative;
}









#link {
    position: relative;
    top: 17px;
    left: 20px;
}

.link {
    font-family:'Courier New', Courier, monospace;
    text-decoration: transparent;
    color: black;
    font-weight: bold;
    margin-left: 45px;
    font-size: 20px;
    color: rgb(0, 47, 255);
    transition-duration: 0.2s;
}

.link:hover {
    color: black;
}

.now {
    color: black;
}