#minecraft {
    background-color: rgb(80, 80, 80);
    border-style: ridge;
    border-color: white;
    border-radius: 15%;
    width: 90%;
    height: 100%;
}

.minecraft-nadpis {
    color: aqua;
    font-size: 35px;
}

.minecraft-text {
    color: white;
    font-size: 21px;
}