#prax {
  border-radius: 15px;
  background-image: url(../images/header-footer.png);
  position: relative;
  padding: 100px;
  height: 400px;
  width: 50%;
}

.prax-button {
  border-radius: 100px;
  background-color: white;
  color: black;
  padding: 25px 20px;
  cursor: pointer;
  transition-duration: 0.8s;
  font-size: 20px;
}

.prax-button:hover {
  background-color: rgb(0, 205, 255);
}