#ulohy {
  border-radius: 15px;
  background-color: white;
  position: relative;
  padding: 100px;
  height: 400px;
  width: 60%;
}

.ulohy-text {
  font-size: 20px;
}

.ulohy-stiahnut {
  color: black;
  transition-duration: 0.6s;
}

.ulohy-stiahnut:hover {
  color: rgb(0, 205, 255);
}