#ulohy {
  border-radius: 15px;
  background-image: url(../images/header-footer.png);
  position: relative;
  padding: 100px;
  height: 450px;
  width: 50%;
}

.ulohy-text {
  color: rgb(0, 178, 255);
  font-size: 20px;
}

.ulohy-text2 {
  color: rgb(0, 216, 255);
  font-size: 18px;
}

.ulohy-stiahnut {
  color: white;
  transition-duration: 0.6s;
}

.ulohy-stiahnut:hover {
  color: rgb(0, 251, 255);
}