.najnovsi-html-tutorial {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.najnovsi-html-tutorial2 {
  font-size: 21px;
  color: white;
}

.najnovsi-html-tutorial3 {
  border-style: ridge;
}

.predosle-html-tutorialy {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.nie-su-ziadne-predosle-tutorialy {
  font-size: 21px;
  color: white;
}