body {
    margin: 0px 200px;
    background: rgb(29, 29, 29);
}

.blok1 {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 60%;
    margin: 0;
}

.blok2 {
    background-image: url(image.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 75%;
    margin: 0;
    border-bottom-style: solid;
    border-top-style: solid;
}

.text {
    position: relative;
    top: 35%;
    font-size: 27px;
    font-weight: bold;
}

button {
    top: 50%;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 10px;
}