body {
    background-color: grey;
}

#header {
    float: center;
    margin-top: 250px;
    background-color: black;
    width: 70%;
    height: 7%;
}

#body {
    float: center;
    background-color: green;
    width: 70%;
    height: 100%;
}

#footer {
    float: center;
    background-color: aqua;
    width: 70%;
    height: 10%;
}
